<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyApi in NodeJS</title>
</head>
<body>
<h2>Registros</h2>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Endereço</td>
                <td>Aniversário</td>
                <td>E-mail</td>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details.name %></td>
                    <td><%= details.address %></td>
                    <%
                    var data = details.birthdate;
                    data_formatada = data.toLocaleDateString();

                    split = data_formatada.split('-');
                    
                    if(split[2] < 10) {
                        dia = 0 + split[2]
                    } else {
                        dia = split[2]
                    }
                    if(split[1] < 10) {
                        mes = 0 + split[1];
                    } else {
                        mes = split[1];
                    }
                    ano = split[0];

                    novadata = dia + "/" + mes + "/" + ano;

                    //newdate = ano + "," + mes + "," + dia;
                    //data_americana = new Date(newdate);
                    %>
                    <td><%= novadata %></td>
                    <td><%= details.email %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>